/* Reduce Themeroller's text size. */
.ui-widget {
    font-size: .8em !important;
}
.ui-widget .ui-widget {
    font-size: .8em !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: .8em !important;
}

/* Default margins & padding. */
div {
    padding: .4em;
}
ul {
    padding: 0px;
    margin: 0px;
}

/* Permit inline-block forms. */
form {
    display: inline-block;
}

/* Make tags look better. */
li.tag {
    display: inline-block;
    margin: .2em;
    padding: .2em;
}

/* Hide immutable attributes. */
.immutable {
    display: none;
}
textarea {
    width: 100%;
}

/* Prevent associations from being too wide. */
#associations {
   width: 90%;
}

/* Convenience classes. */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
