/* Reduce Themeroller's text size. */
.ui-widget {
    font-size: .8em !important;
}
.ui-widget .ui-widget {
    font-size: 1.0em !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 1.0em !important;
}

/* Default margins & padding. */
div {
    padding: .4em;
}
ul {
    padding: 0px;
    margin: 0px;
}

/* Log styles */
div.log {
    max-height: 100px;
    overflow-y: scroll;
}

div.log div.error, div.log div.trace {
    color: red;
}

div.log div.warning {
    color: orange;
}

div.log div.info {
    color : blue;
}

/* Results styles */
.key {
    font-style: italic;
}

.value {
    border: 1px solid gray;
}

/* Permit inline-block forms. */
form {
    display: inline-block;
}

/* Make tags look better. */
li.tag {
    display: inline-block;
    margin: .2em;
    padding: .2em;
}

/* */
li {
    list-style-type: none;
}

/* Hide immutable attributes. */
.immutable {
    display: none;
}
textarea {
    width: 100%;
}

/* Prevent associations from being too wide. */
#associations {
   width: 90%;
}

/* Convenience classes. */
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* Logo */
div#logo {
    color: white;
    font-family: "Andale Mono", Monaco, monospace;
    font-weight: lighter;
    font-size: 1.5em;
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: .1em;
    text-shadow: -1px -1px gray, 1px 1px black;
}