{{#options}}
{{! Pass applet variables to javascript. }}
<script type="text/javascript">
$(document).ready(function() {

  var microscraper_data = {
    'applet_dir'   : '{{applet_dir}}',
    'applet_class' : '{{applet_class}}',
    'applet_jar'   : '{{applet_jar}}',
    'img_dir'      : '{{img_dir}}',
    'spinner_img'  : '{{spinner_img}}'
  };
  if(!$('body').data('microscraper')) {
    $('body').data('microscraper', microscraper_data);
  } else {
    var data = $('body').data('microscraper');
    $.extend(data, microscraper_data);
  }
});
</script>
{{/options}}
