{{! Provides ability to browse & edit associations through tabs }}
<div class="tabs">
  <ul>
    {{#associations}}
      <li><a href="#{{name}}">{{name}} ({{size}})</a></li>
    {{/associations}}
  </ul>
  {{#associations}}
    {{! List the resources inside this collection. }}
    <div id="{{name}}">
      <ul class="collection">
        {{#collection}}
          <li class="ui-corner-all ui-widget-header tag">
            {{#can_edit}}
              <form class="ajax" method="delete" action="{{location}}">
                <a href="{{location}}">{{full_name}}</a>
                <button class="ui-widget-content" type="submit">X</button>
              </form>
            {{/can_edit}}
            {{^can_edit}}
            <a href="{{location}}">{{full_name}}</a>
            {{/can_edit}}
          </li>
        {{/collection}}
      </ul>
      {{! Allow the user to link another resource. }}
      {{#can_edit}}
        <form class="ajax" method="put" action="{{location}}">
          <input class="add resource" type="text" name="title"  title="{{model_location}}" />
          <button type="submit">Add</button>
        </form>
      {{/can_edit}}
    </div>
  {{/associations}}
</div>