{{! List all the resource's attributes. }}

{{! List the resource's immutable attributes. }}
<div class="attributes ui-widget-content">
  <ul class="immutable">
    {{#immutables}}
      {{> attribute}}
    {{/immutables}}

    {{! List the resource's mutable attributes with immutables, if we can't edit. }}
    {{^can_edit}}
    {{#mutables}}
      {{> attribute}}
    {{/mutables}}
    {{/can_edit}}
  </ul>
  {{! List the resource's mutable attributes separately, if we can edit.  }}
  {{#can_edit}}
    <ul class="mutable">
      <form method="put" action="{{location}}">
        {{! Hidden input for update consistency. }}
        <input type="hidden" name="last_updated_at" value="{{updated_at}}">
        {{#mutables}}
          <li class="attribute">
            <label for="{{name}}">{{name}}:</label>
            <textarea name="{{name}}">{{value}}</textarea>
          </li>
        {{/mutables}}
        <button type="submit">Update</button>
      </form>
    </ul>
  {{/can_edit}}
</div>
