{{! List all the resource's attributes. }}

{{! List the resource's immutable attributes. }}
<div class="attributes ui-widget-content">
  {{! List the resource's mutable attributes separately, if we can edit.  }}
  {{#can_edit}}
  <form class="ajax" method="put" action="{{location}}">
  {{/can_edit}}
   <table class="mutable attributes">
    <caption>Attributes</caption>
    <tr>
      <th>Name</th><th>Value</th>
    </tr>
    {{^can_edit}}
    {{#mutables}}
     <tr>	
       <td>{{name}}</td><td>{{value}}</td>
     </tr>
    {{/mutables}}
    {{/can_edit}}
    {{#can_edit}}
        {{! Hidden input for update consistency. }}
        <input type="hidden" name="last_updated_at" value="{{updated_at}}">
        {{#mutables}}
          <tr>
            <td><label for="{{name}}">{{name}}:</label></td>
            <td><textarea name="{{name}}">{{value}}</textarea></td>
          </tr>
        {{/mutables}}
        <tr>
          <td><button type="submit">Update</button></td>
        </tr>
    {{/can_edit}}
    </table>
  {{#can_edit}}
  </form>
  {{/can_edit}}
</div>
