{{#html_format}}
  <div class="created">
    {{resource.name}} successfully created.  Access it <a href="{{resource.location}}">here</a>.
  </div>
{{/html_format}}
{{#json_format}}
  "{{resource.location}}"
{{/json_format}}