{{#html_format}}
  <div class="home">
    {{user_name}}
  </div>
  {{! TODO allow the user to change his/her name }}
  {{! List the user's resources. }}
  <ul class="resources">
    {{#resources}}
      <li>{{> relationship}}</li>
    {{/resources}}
  </ul>

{{/html_format}}