{{#html_format}}
  {{#user}}
    <div class="home">
      {{full_name}}
    </div>
    <form method="put" action="{{location}}">
      <input name="title" type="text">
      <input type="submit" value="Change Name">
    </form>
    <div>
      Your contributions:
      {{> associations}}
    </div>
  {{/user}}
{{/html_format}}
