{{#html_format}}
  {{#user}}
    <div class="home ui-widget">
      <div class="ui-widget-header ui-corner-top">
        {{full_name}}'s resources
      </div>
      {{> associations}}
      {{#options}}
        <div class="settings ui-widget-content">
          <form class="ajax" method="put" action="{{home_location}}">
            <input name="title" type="text" />
            <button type="submit">Change Name</button>
          </form>
        </div>
      {{/options}}
    </div>
  {{/user}}
{{/html_format}}
