{{#model}}
  {{#html_format}}
    <div class="model ui-widget">
      {{! The model's name. }}
      <div class="name ui-widget-header">Model "{{raw_name}}"</div>
      {{! The name of resources in this model. }}
      <ul class="associations">
        {{#associations}}
          <li class="resource"><a href="{{location}}">{{name}}</a></li>
        {{/associations}}
      </ul>
      {{> associations}}
    </div>
  {{/html_format}}
{{/model}}
{{#json_format}}
  {{{to_json}}}
{{/json_format}}
