{{#html_format}}
  {{#resource}}
    <div class="resource ui-widget">
      <div class="ui-widget-header ui-corner-top">
        {{! The resource's name. }}
        {{#can_edit}}Editing{{/can_edit}}
          {{^can_edit}}Modifying{{/can_edit}}

          {{#model}}
            <a href="{{location}}">
              {{raw_name}}
            </a>
          {{/model}}
          "{{full_name}}"
      </div>

      {{> attributes}}
      {{> associations}}
      {{> testing}}

      {{! Delete the resource. }}
      {{#can_edit}}
        <div class="delete ui-widget-content">
          <form class="ajax" method="delete" action="{{location}}">
            <button type="submit">Delete</button>
          </form>
        </div>
      {{/can_edit}}
    </div>
  {{/resource}}
{{/html_format}}

{{#json_format}}
  {{#resource}}
    {{{to_json}}}
  {{/resource}}
{{/json_format}}
