<div class="test ui-widget-content">
  <form class="test" method="get" action="{{location}}">
    <table>
      <caption>Substitute Values</caption>
      <tr>
        <th>Name</th>
	<th>Value</th>
      </tr>
      {{#variables}}
        <tr>
          <td><label for="{{to_s}}">{{to_s}}:</label></td>
          <td><textarea name="{{to_s}}" class="disabler" disabled></textarea></td>
        </tr>
      {{/variables}}
    </table>
  </form>
</div>

