<div class="user_bar ui-widget ui-widget-header ui-corner-all">
  {{#user}}
    <span class="float-left">You are logged in as {{full_name}}.</span>
    &nbsp;
    <span class="float-right">
      {{#options}}
        <span><a href="{{home_location}}">Home</a></span>
        <span><a href="{{logout_location}}">Log out</a></span>
      {{/options}}
    </span>
  {{/user}}
  {{^user}}
  <span class="float-left">&nbsp;</span>
  &nbsp;
  <span class="float-right">
    {{#options}}
      <span><a href="{{login_location}}">Log In</a></span>
    {{/options}}
  </span>
  {{/user}}
</div>
